body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#839496;
  font-weight:300;
  background-color:#002b36;
}

h1, h2, h3, h4, h5, h6 {
  color:#859900;
  margin:0 0 20px;
}

a {
  color:#859900;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#859900;
  margin-top:-0.6em;
  display:block;
}

hr {
  border:0;
  background:#073642;
  height:1px;
  margin:0 0 20px;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  background:#073642;
  font-size:12px;
}
